.Home {
  height: calc(100vh - var(--header-height));
  color: var(--text-color);
  background: var(--background);
}

h1 {
  font-size: min(6rem, 10vw);
}

h2 {
  font-size: min(4rem, min(7vh, 7vw));
  margin: 0.5rem 0;
}

h3 {
  font-size: min(3rem, min(5vw, 5vh));
}

p {
  font-size: min(1.5rem, 3vw);
}

.Home-title-block {
  background: linear-gradient(
    180deg,
    var(--background-light) 0%,
    var(--background-dark) 100%
  );
  display: flex;
  height: max(500px, 60vh);
  justify-content: space-around;
  align-items: center;
  color: var(--text-color-secondary);
}

.Home-logo {
  height: 40vh;
  padding: 20px;
}

.Home-title-text {
  padding: 10px 20px 10px 20px;
}

h1.Home-title-text {
  font-size: min(6rem, 10vw);
}

h2.Home-title-text {
  font-size: min(4rem, min(7vh, 7vw));
  margin: 0.5rem 0;
}

.Home-demo-block {
  background: linear-gradient(
    180deg,
    var(--background-light) 0%,
    var(--background-dark) 100%
  );
  display: flex;
  height: max(700px, 60vh);
  justify-content: space-around;
  align-items: center;
  color: var(--text-color-secondary);
}

.Home-demo-image-wrap {
  width: 45vw;
}

.Home-demo-image {
  width: calc(45vw - 60px);
  margin: 30px;
}

.Home-demo-text {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

h3.Home-demo-text {
  font-size: min(3rem, min(5vw, 5vh));
}

.Home-try-button {
  background-color: var(--background-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  margin: 20px;
}
