.Notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Notfound-home-button {
  font-size: 1.5rem;
  margin: 30px;
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--text-color);
}

.Notfound-home-link:hover {
  border-bottom: 1px solid var(--text-color);
}
